#intro-game {
  min-height: 80vh;
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#takes-two-game {
  min-height: 80vh;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#new-games {
  background-color: #1f1f1f;
}

#ps-plus {
  background-color: #bcbab9;
}

#ps-now {
  background-color: #161b3b;
}

#footer {
  background-color: rgb(0, 67, 156);
}
